<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'AUTH.VERIFY_CODE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="verify-container">
    <div class="verify-header">
      <h2>{{ 'AUTH.CODE_SENT' | translate }}</h2>
      <p>{{ email }}</p>
    </div>

    <app-six-digit-input
      [(code)]="code"
      (codeComplete)="onCodeComplete($event)"
    ></app-six-digit-input>

    <ion-button
      expand="block"
      (click)="verify()"
      [disabled]="loading || code.length !== 6"
      class="ion-margin-top"
    >
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <span *ngIf="!loading">{{ 'AUTH.VERIFY' | translate }}</span>
    </ion-button>

    <ion-button
      fill="clear"
      expand="block"
      (click)="resendCode()"
      [disabled]="loading"
      class="ion-margin-top"
    >
      {{ 'AUTH.RESEND' | translate }}
    </ion-button>
  </div>
</ion-content>

