.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    color: var(--ion-text-color);
    opacity: 0.7;
    max-width: 400px;
  }
}

