.badge {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--ion-color-danger);
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

