<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="profile?.role === 'provider' ? 'provider-home' : 'home'">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'HOME.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="profile?.role === 'provider' ? 'provider-connect' : 'connect'">
      <ion-icon name="people"></ion-icon>
      <ion-label>{{ 'CONNECT.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ 'SETTINGS.TITLE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

